@keyframes navScroll{
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes upShow{
    from{
        transform: translateY(100px) ;
    }
    to{
        transform: translateY(0px);
    }
}