$m-primary-color:#58A787;
$m-soft-pc:#89d9b7;
$m-secondary-color:#f2f6ff;

@mixin m-flex-auto {
    display: flex;
    align-items: center;
    justify-content: center;
}

$c1-1:rgb(242,246,255);
$c8:rgb(230,184,148);
$c2:#6c7967;
$c1:#58a787;
$c1-0:rgb(33,147,111);
$c6:rgb(0,111,86);
$c5:rgb(1,95,68);
$c3:#112d16;
$c1-2:rgb(183,219,243);
$c9:rgb(110,184,218);
$c7:rgb(0,86,116);
$h-text-color:rgb(21,87,113);
$c4:#011611;