@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variables';
@import 'animations';
// font-family: 'Roboto', sans-serif;
// font-family: 'Commissioner', sans-serif;
*{
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    // height: 500vh;
}
.m-heading-font{
    font-family: 'Commissioner', sans-serif;
}
.m-fill-primary{
    color: $m-primary-color;
}

.m-header{
   position: absolute;
   top: 0;
   z-index: 2000;
   border-bottom: 1px solid $m-primary-color;
   background-image: linear-gradient(to right, $m-soft-pc , $m-primary-color, $m-soft-pc);
}
.m-fom-logo{
    font-size: 30px;
}
.m-navbar{
    
}
.nav-active{
    color:$m-primary-color !important;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    box-shadow:inset 2px 2px 4px #00000080;
}

.m-nav-link{
    font-size: 18px;
}
.m-nav-item{
    margin-right: 58px;
}
.m-home{
    background-image: url(../img/IntoTheWild.svg);
    // margin-top: 79px;
    background-size: 100%;
    background-position: 0px 10px;
    background-repeat: no-repeat;
    position: relative;
}
.m-home-left{
    height: 100vh;
}
.m-home-right{
    height: 100vh;
    background-image: linear-gradient(to top, #6EB8DA 20%,#6EB8DA 30%, #B7DBF3 100%);
    margin-top: -5px;
    padding-right: 0px;
    box-shadow: 7px 7px 6px #00000016;
}
.m-home-img{
    margin-right: -5px;
    // width: 475px;
    // height: 465px;
}
.s-m-home-left{
    margin-top: 60px;
}
.m-motto{
    font-size: 25px;
}
.m-home-btn{
    width: 171px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, $m-soft-pc , $m-primary-color);
    background-color: $m-primary-color;
    border-radius: 15px;
    transition: 1s ease all;
    cursor: pointer;
    &:hover{
        font-weight: bold;
        background-image: linear-gradient(to right, $m-primary-color , $m-soft-pc);
        transform: scale(1.03);
        // background-color: $m-soft-pc;
    }
}
#up{
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    background-color:rgba($m-secondary-color,0.8);
    color: $m-primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right:50px;
    cursor: pointer;
    animation: upShow s linear;
    box-shadow:inset 2px 2px 4px #00000080;
}
// .up-icon{
//     box-shadow:inset 2px 2px 4px #00000080,2px 2px 4px #00000080;
//     width: 60%;
//     height: 60%;
//     @include m-flex-auto;
//     border-radius: 5px;
//     padding: 5px;
//     background-color: $m-secondary-color;
// }
.m-home-heading{
    font-size: 50px;
}

.m-info-link{
    position: absolute;
    bottom: 20px;
    left: 625px;
    .info-link-icons{
        margin-top: 30px;
        font-size: 30px;
        color: $m-primary-color;
    }
}
.m-plot{
    background-color: $m-secondary-color;
}
.m-plot-img{
    border-radius: 184px;
}
.m-plot-heading{
    font-size: 50px;
}
.m-plot-para{
    text-indent: 50px;
    text-align: justify;
    font-size: 20px;
}
.m-casts::before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
}
.m-casts{
    background-image: url(../img/casts.jpg);
    background-repeat: no-repeat;
    background-position: 0 -135px;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    
}
.m-casts-heading{
    font-size: 50px;
    text-shadow: 3px 5px 4px #000000;
}
.m-casts-img{
    width: 210px;
    height: 280px;
    border: 2px solid $m-soft-pc;
    border-radius: 5px;
}
.actor-name{
    font-size: 28px;
}
.character.name{
    font-size: 23px;
}
.casts-card{
    background-color: #00000050;
    transition: 0.5s;
    &:hover{
        transform: scale(1.02);
    }
}
.casts-mb{
    margin-bottom: 50px;
}
.anti-link{
    &:hover{
        text-decoration: none;
    }
}
.casts-adj{
    display: flex;
    justify-content: center;
}
.slick-slide{
    &:focus{
        outline-color: white;
    }
    &:active{
        outline: none !important;
        border: none !important;
    }
}
.m-download-heading{
    font-size: 50px;
}
.m-download-left{
    @include m-flex-auto;
}
.m-download-right{
    @include m-flex-auto;
    
}
.s-m-download{
    border-radius: white;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px 0.4px #00000080;
    width: 363px;
    height: 411px;
}
.m-download{
    background-color: $m-secondary-color;
    min-height: 100vh;
}
.download-sub{
    font-size: 20px;
    text-decoration: underline;
    font-weight: lighter;
    transition: 0.5s;
    &:hover{
        color: $m-primary-color;
        font-weight: normal;
    }
}
.m-download-btn{
    @include m-flex-auto;
    width: 235px;
    height: 45px;
    padding: 5px 10px;
    background-image: linear-gradient(to right, $m-soft-pc , $m-primary-color);
    color:white;
    font-weight: 25px;
    // box-shadow: inset -24px -24px 47px #3a6e59, 
    //         inset 24px 24px 47px #76e0b5;
    border: 2px solid $m-soft-pc;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        background-image: linear-gradient(to right, $m-primary-color , $m-soft-pc);
        transform: scale(1.03);
    }
}
.m-information{
    background-color: $m-secondary-color;
    min-height: 150vh;
    position: relative;
    
}
.m-information::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/footer-interlaced-b-d.png);
    z-index: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.info-table{
}
.fom-credit{
    position: absolute;
    bottom: 30px;
    background-color: #00000080;
    border-radius: 50px;
    right: 30px;
    img{
        border-radius: 5px;
    }
}
.map{
    border: 3px solid $m-soft-pc !important;
    border-radius: 10px;
}
.table-contain{
    padding: 10px;
    background-color: #ffffff90;
    border-radius: 10px;
    // width: 100%;
}
.td-im{
    width: 130px;
    margin-bottom: 10px;
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        width: 8px !important;
        height: 8px !important;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;

        
    }
    li.slick-active{
        width: 15px !important;
        height: 15px !important;
        background-color: white !important;
    }
}
.navbar-toggler{
    outline: none;
    border: none;
    &:focus{
        outline: none;
        border: none;
    }
}
.navbar-toggler{
    color: white !important;
    font-size: 30px;
}
.m-navbar-scroll{
    position: fixed;
    animation: navScroll 0.5s linear;
    .m-nav-item{
        margin-right: 70px;
    }
    .m-fom-logo{
        font-size: 20px;
    }
    .m-nav-link {
        font-size: 14px;
    }
}
@import 'responsive';